#hero .swiper {
    width: 100%;
    height: 100%;
}

#hero .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#hero .swiper-pagination {
    margin-bottom: 24px;
}

/* spotlight */

#all-spotlight {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(3, 1fr);
}

.single-spotlight {
    position: relative;
    overflow: hidden;
}

.single-spotlight img {
    width: 100%;
    height: 100%;
    transform: scale(1.15);
    transition: transform 400ms ease;
}

.single-spotlight:hover img {
    transform: scale(1);
}

.single-spotlight:hover .spotlight-text {
    opacity: 1;
}

.spotlight-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
    display: grid;
    place-items: center;
    opacity: 0;
    transition: opacity 400ms ease;
}

.spotlight-text div {
    color: #fff;
    text-align: center;
}

.spotlight-text h5 {
    color: orange;
    font-weight: 500;
    margin-bottom: 16px;
}

.spotlight-text h5 span {
    color: #fff;
}

.spotlight-text h6 {
    font-size: 20px;
    font-weight: 900;
    margin-top: 24px;
}

/* case study */

#case-study {
    margin: 0 80px;
    text-align: center;
}
#all-case-study {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.single-case-study {
    text-align: left;
    width: 320px;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #c5c5c5;
}

.single-case-study img {
    width: 100%;
}
.single-case-study h4 {
    font-size: 18px;
    margin: 12px 0;
    padding: 0 16px;
}

.single-case-study p {
    font-size: 15px;
    padding: 0 16px 16px;
}

#view-more {
    margin-top: 36px;
    background-color: transparent;
}

/* our approachs */

#all-our-approachs {
    margin: 0 80px;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
}

#all-our-approachs div {
    width: 265px;
    height: 265px;
    /* background-color: #eee; */
}

#all-our-approachs div:nth-child(even) {
    margin-top: 140px;
}

#all-our-approachs img {
    width: 100%;
    height: 100%;
}

#all-our-approachs img:first-child {
    padding: 28px;
}

#all-our-approachs h4 {
    margin: 16px 0;
    text-align: center;
}

/* partner */

#all-our-partners {
    margin: 0 120px;
}
#all-our-partners .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#all-our-partners img {
    width: 150px;
    height: 150px;
}

/* founder */

#founder {
    position: relative;
    margin: 160px 0 80px 0;
    width: 100%;
    height: 480px;
    background: #efefef;
    /* background-image: url("https://via.placeholder.com/1920x480");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

#text-area {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#text-area p {
    width: 650px;
    font-weight: bold;
    font-size: 18px;
}

#text-area h5 {
    font-size: 15px;
    margin: 48px 0 6px 0;
}

#text-area h6 {
    font-weight: 400;
}

/* counter */

#number-counter {
    margin: 0 80px;
}

#all-number-counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.single-number-counter {
    cursor: default;
    position: relative;
    top: 24px;
    width: 400px;
    padding: 40px;
    background-color: #fff;
    border-bottom-right-radius: 60px;
    box-shadow: 0px 12px 48px rgb(0 0 0 / 10%);
    border: 1px solid #eee;
}

.single-number-counter:hover {
    transform: translateY(-24px) !important;
    transition: transform 400ms ease !important;
}

.single-number-counter h1 {
    color: #5c5c5c;
    line-height: 2;
    font-size: 48px;
    font-weight: 900;
}

.single-number-counter h4 {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: flex-end;
}

.single-number-counter img {
    margin-right: 12px;
}

/* sub services */

#sub-services {
    padding: 0 80px;
}

#sub-services .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

#sub-services .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 264px;
    height: 360px;
}

#sub-services .swiper-slide img {
    display: block;
    width: 100%;
}
