@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: montserrat-xb;
    src: url(../fonts/Montserrat-ExtraBold.ttf);
    font-display: swap;
}

.font-xb {
    font-family: montserrat-xb;
}

@font-face {
    font-family: montserrat-b;
    src: url(../fonts/Montserrat-Bold.ttf);
    font-display: swap;
}

.font-b {
    font-family: montserrat-b;
}

@font-face {
    font-family: montserrat-m;
    src: url(../fonts/Montserrat-Medium.ttf);
    font-display: swap;
}

.font-m {
    font-family: montserrat-m;
}

@font-face {
    font-family: montserrat-r;
    src: url(../fonts/Montserrat-Regular.ttf);
    font-display: swap;
}

.font-r {
    font-family: montserrat-r;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------ body ------------------------ */

body {
    user-select: none;
    scroll-behavior: smooth;
    font-family: montserrat-r;
}

/* ------------------------ swiper ------------------------ */

.swiper-button-next,
.swiper-button-prev {
    color: #353535;
}

.swiper-pagination-bullet-active {
    background: #353535;
}

/* ------------------------ a ------------------------ */

a,
a:hover {
    outline: none;
    color: inherit;
    text-decoration: none;
}

/* ------------------------ disabled ------------------------ */

:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* ------------------------ nav ------------------------ */

nav {
    padding-top: 28px !important;
    padding-bottom: 28px !important;
    transition: all 600ms ease;
    background-color: transparent;
}

nav.nav-fixed {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
    background-color: #fff;
}

/* ------------------------ media 1440 ------------------------ */

@media (max-width: 1440px) {
    h1 {
        font-size: 2rem;
    }
}

/* ------------------------ media 768 ------------------------ */

@media (max-width: 768px) {
    nav {
        background-color: #fff;
    }
}

/* ------------------------ media 425 ------------------------ */

@media (max-width: 425px) {
    h1 {
        font-size: 1.6rem;
    }

    h5 {
        font-size: 1rem;
    }
}
