@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: montserrat-xb;
    src: url(../fonts/Montserrat-ExtraBold.ttf);
    font-display: swap;
}

.font-xb {
    font-family: montserrat-xb;
}

@font-face {
    font-family: montserrat-b;
    src: url(../fonts/Montserrat-Bold.ttf);
    font-display: swap;
}

.font-b {
    font-family: montserrat-b;
}

@font-face {
    font-family: montserrat-sb;
    src: url(../fonts/Montserrat-SemiBold.ttf);
    font-display: swap;
}

.font-sb {
    font-family: montserrat-sb;
}

@font-face {
    font-family: montserrat-m;
    src: url(../fonts/Montserrat-Medium.ttf);
    font-display: swap;
}

.font-m {
    font-family: montserrat-m;
}

@font-face {
    font-family: montserrat-r;
    src: url(../fonts/Montserrat-Regular.ttf);
    font-display: swap;
}

.font-r {
    font-family: montserrat-r;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------ body ------------------------ */

body {
    user-select: none;
    scroll-behavior: smooth;
    font-family: montserrat-r;
}

/* ------------------------ swiper ------------------------ */

.swiper-button-next,
.swiper-button-prev {
    color: #353535;
}

.swiper-pagination-bullet-active {
    background: #353535;
}

/* ------------------------ a ------------------------ */

a,
a:hover {
    outline: none;
    color: inherit;
    text-decoration: none;
}

/* ------------------------ disabled ------------------------ */

:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* ------------------------ nav ------------------------ */

nav {
    padding-top: 28px !important;
    padding-bottom: 28px !important;
    transition: all 600ms ease;
    background-color: transparent;
}

nav.nav-fixed {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
    background-color: #fff;
}

/* ------------------------ page heading ------------------------ */

.page-heading {
    width: 100%;
    height: 400px;
    background: #c5c5c5;
    display: grid;
    place-items: center;
    font-size: 28px;
}

.page-heading h1 {
    position: relative;
    color: #fff;
    text-transform: capitalize;
}

.page-heading h1::after {
    position: absolute;
    left: 50%;
    bottom: -40px;
    transform: translateX(-50%);
    content: "";
    width: 200px;
    height: 25px;
    background-image: radial-gradient(#fff 20%, transparent 20%), radial-gradient(#fff 20%, transparent 20%);
    background-size: 6px 6px;
}

/* ------------------------ section heading ------------------------ */

.section-heading {
    position: relative;
    font-size: 1.8rem;
    line-height: 1.4;
    margin-bottom: 84px;
}

.section-heading::after {
    position: absolute;
    left: 0;
    bottom: -52px;
    content: "";
    width: 160px;
    height: 18px;
    background-image: radial-gradient(#272727 20%, transparent 20%), radial-gradient(#272727 20%, transparent 20%);
    background-size: 6px 6px;
}

/* ------------------------ media 1440 ------------------------ */

@media (max-width: 1440px) {
    h1 {
        font-size: 2rem;
    }
}

/* ------------------------ media 1200 ------------------------ */

@media (max-width: 1200px) {
    .section-heading {
        margin-bottom: 36px;
    }

    .section-heading::after {
        content: unset;
    }

    .page-heading h1::after {
        height: 26px;
        background-size: 7px 7px;
    }
}

/* ------------------------ media 768 ------------------------ */

@media (max-width: 768px) {
    nav {
        padding-top: 24px !important;
        padding-bottom: 24px !important;
        background-color: #fff;
    }

    nav.nav-fixed {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }

    .section-heading {
        font-size: 1.6rem;
        margin-bottom: 16px;
    }
}

/* ------------------------ media 480 ------------------------ */

@media (max-width: 480px) {
    h1 {
        font-size: 1.6rem;
    }

    h5 {
        font-size: 1rem;
    }

    .page-heading h1::after {
        width: 160px;
        background-size: 6px 6px;
    }

    .section-heading {
        font-size: 1.4rem;
    }
}
