<div class="container py-5" id="blogs">
    <div class="text-uppercase text-center my-5 pb-3 font-xb" data-aos="slide-up">
        <h1>our blogs</h1>
    </div>
    <div id="all-blogs">
        <div class="single-blogs" data-aos="slide-up" data-aos-offset="100">
            <div class="blog-image">
                <img class="b-image" src="images/blogs/Blog 1.jpg" alt="" />
            </div>
            <a href="single-blog.html" class="blog-text bg-white p-4 shadow-lg">
                <small>Personal / June 13, 2021</small>
                <h6 class="font-b mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h6>
                <h4 class="mb-0 font-m">→</h4>
            </a>
        </div>
        <div class="single-blogs" data-aos="slide-up" data-aos-offset="100" data-aos-delay="100">
            <div class="blog-image">
                <img class="b-image" src="images/blogs/Blog 2.jpg" alt="" />
            </div>
            <a href="single-blog.html" class="blog-text bg-white p-4 shadow-lg">
                <small>Personal / June 13, 2021</small>
                <h6 class="font-b mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h6>
                <h4 class="mb-0 font-m">→</h4>
            </a>
        </div>
        <div class="single-blogs" data-aos="slide-up" data-aos-offset="100" data-aos-delay="200">
            <div class="blog-image">
                <img class="b-image" src="images/blogs/Blog 3.jpg" alt="" />
            </div>
            <a href="single-blog.html" class="blog-text bg-white p-4 shadow-lg">
                <small>Personal / June 13, 2021</small>
                <h6 class="font-b mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h6>
                <h4 class="mb-0 font-m">→</h4>
            </a>
        </div>
    </div>
</div>
