<div class="container-fluid font-m bg-light mt-4 py-4">
    <div class="container">
        <div class="d-none d-md-flex align-items-center justify-content-between">
            <small>© Copyright Triangular Dots</small>
            <small>Developed by Harshal Singh</small>
        </div>
        <div class="d-flex d-md-none align-items-center justify-content-center flex-column">
            <small class="mb-2 font-m">© Copyright Triangular Dots</small>
            <small>Developed by Harshal Singh</small>
        </div>
    </div>
</div>
