<div class="container-fluid bg-light mt-5 font-m py-4">
    <div class="container">
        <div class="d-none d-md-flex align-items-center justify-content-between">
            <h6 class="mb-0">© Copyright Triangular Dots</h6>
            <h6 class="mb-0">Developed by Harshal Singh</h6>
        </div>
        <div class="d-flex d-md-none align-items-center justify-content-center flex-column">
            <small class="mb-2">© Copyright Triangular Dots</small>
            <small class="mb-0">Developed by Harshal Singh</small>
        </div>
    </div>
</div>
