<nav class="navbar navbar-expand-lg navbar-light fixed-top w-100">
    <div class="container-fluid">
        <div class="container">
            <a class="navbar-brand font-b" href="#">Triangular Dots</a>
            <button
                class="navbar-toggler border-0 p-0"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarScroll"
                aria-controls="navbarScroll"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="justify-content-end collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px">
                    <li class="nav-item px-1">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item px-1 dropdown">
                        <a
                            class="nav-link dropdown-toggle"
                            id="navbarScrollingDropdown"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                        >
                            Services
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item" href="single-service.html">Services 1</a></li>
                            <li><a class="dropdown-item" href="single-service.html">Services 2</a></li>
                            <li><a class="dropdown-item" href="single-service.html">Services 3</a></li>
                            <li><a class="dropdown-item" href="single-service.html">Services 4</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="single-service.html">Services 5</a></li>
                            <li><a class="dropdown-item" href="single-service.html">Services 6</a></li>
                        </ul>
                    </li>
                    <li class="nav-item px-1">
                        <a class="nav-link" href="our-works.html">Our Works</a>
                    </li>
                    <li class="nav-item px-1">
                        <a class="nav-link" href="blogs.html">Blogs</a>
                    </li>
                    <li class="nav-item px-1">
                        <a class="nav-link" href="case-studies.html">Case Studies</a>
                    </li>
                    <li class="nav-item px-1">
                        <a class="nav-link" href="about-us.html">About Us</a>
                    </li>
                    <li class="nav-item px-1">
                        <a class="nav-link" href="contact-us.html">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
