<section>
    <div class="heading" data-aos="slide-up">
        <h2>Testimonial</h2>
    </div>
    <div id="reviews">
        <div id="review-text" data-aos="fade">
            <h5>Clients Feedback</h5>
            <h2>Clients Love</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem eos, vitae esse numquam, mollitia corrupti
                iure id sint veniam libero deserunt voluptatum recusandae natus fugit debitis earum nobis odit expedita.
            </p>
            <div class="review-nav">
                <button id="prevReview" disabled="true">←</button>
                <button id="nextReview">→</button>
            </div>
        </div>
        <div id="all-reviews" data-aos="slide-up">
            <div class="single-review">
                <img src="https://via.placeholder.com/64" alt="" />
                <div>
                    <h4>Harshal Singh</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita maxime neque explicabo a amet.
                    </p>
                </div>
            </div>
            <div class="single-review active">
                <img src="https://via.placeholder.com/64" alt="" />
                <div>
                    <h4>Harshal Singh</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita maxime neque explicabo a amet.
                    </p>
                </div>
            </div>
            <div class="single-review">
                <img src="https://via.placeholder.com/64" alt="" />
                <div>
                    <h4>Harshal Singh</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita maxime neque explicabo a amet.
                    </p>
                </div>
            </div>
            <div class="single-review">
                <img src="https://via.placeholder.com/64" alt="" />
                <div>
                    <h4>Harshal Singh</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita maxime neque explicabo a amet.
                    </p>
                </div>
            </div>
            <div class="single-review">
                <img src="https://via.placeholder.com/64" alt="" />
                <div>
                    <h4>Harshal Singh</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita maxime neque explicabo a amet.
                    </p>
                </div>
            </div>
            <div class="single-review">
                <img src="https://via.placeholder.com/64" alt="" />
                <div>
                    <h4>Harshal Singh</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita maxime neque explicabo a amet.
                    </p>
                </div>
            </div>
            <div class="single-review">
                <img src="https://via.placeholder.com/64" alt="" />
                <div>
                    <h4>Harshal Singh</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita maxime neque explicabo a amet.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    #reviews {
        margin: 0 180px 120px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #review-text {
        width: 480px;
    }

    #review-text h2 {
        line-height: 2.5;
    }

    #all-reviews {
        padding: 20px;
        height: 440px;
        overflow: hidden;
    }

    #all-reviews::-webkit-scrollbar {
        width: 0;
    }

    .review-nav button {
        margin-right: 16px;
        font-size: 18px;
        font-weight: 500;
        padding: 16px 18px;
        border-radius: 50%;
        color: #fff;
        margin-top: 40px;
        background-color: #5c5c5c;
    }

    .single-review {
        width: 560px;
        display: flex;
        align-items: center;
        padding: 24px;
        border-radius: 10px;
        background-color: #fff;
        border: 1px solid #efefef;
        box-shadow: 0px 6px 12px rgb(0 0 0 / 10%);
        transition: background-color 200ms ease;
    }

    .single-review.active {
        color: #fff;
        background-color: #5c5c5c;
    }

    .single-review:nth-child(even) {
        margin: 32px 0;
    }

    .single-review img {
        margin-right: 16px;
        border-radius: 50%;
    }

    .single-review h4 {
        margin-bottom: 6px;
    }

    .single-review p {
        font-size: 14px;
    }
</style>
<script>
    // 120px
    const reviewBox = document.getElementById("all-reviews");
    const allReviews = document.querySelectorAll(".single-review");
    const nextReview = document.getElementById("nextReview");
    const prevReview = document.getElementById("prevReview");

    const reviewsCount = allReviews.length;
    const reviewHeight = Math.floor(reviewBox.scrollHeight / reviewsCount) + 4;

    let count = 0;
    let scrollReviewTo = 0;

    nextReview.onclick = () => {
        if (count <= reviewsCount - 3) {
            scrollReviewTo = reviewHeight * (count + 1);
            const options = {
                top: scrollReviewTo,
                behavior: "smooth",
            };
            reviewBox.scrollTo(options);
            allReviews[count + 1].classList.remove("active");
            allReviews[count + 2].classList.add("active");
            count++;

            if (reviewsCount - 3 == count) {
                nextReview.setAttribute("disabled", true);
                if (prevReview.getAttribute("disabled")) {
                    prevReview.removeAttribute("disabled");
                }
            }
        }
    };

    prevReview.onclick = () => {
        if (count <= reviewsCount - 3 && count > 0) {
            scrollReviewTo = scrollReviewTo - reviewHeight;
            const options = {
                top: scrollReviewTo,
                behavior: "smooth",
            };
            reviewBox.scrollTo(options);
            allReviews[count + 1].classList.remove("active");
            allReviews[count].classList.add("active");
            count--;

            if (count == 0) {
                prevReview.setAttribute("disabled", true);
                if (nextReview.getAttribute("disabled")) {
                    nextReview.removeAttribute("disabled");
                }
            }
        }
    };
</script>
