<section>
    <div class="heading" data-aos="slide-up">
        <h2>services</h2>
    </div>
    <div id="services">
        <a href="single-service.html" class="single-service" data-aos="slide-up">
            <img src="images/services/1 Events, Meets _ Exhibitions/Normal.png" width="56" alt="" />
            <h4>Events, Meets & Exhibitions</h4>
        </a>
        <a href="single-service.html" class="single-service" data-aos="slide-up">
            <img src="images/services/2 Activations 2/Normal.png" width="56" alt="" />
            <h4>Activations</h4>
        </a>
        <a href="single-service.html" class="single-service" data-aos="slide-up" data-aos-delay="50">
            <img src="images/services/3 Marketing Research 3/Normal.png" width="56" alt="" />
            <h4>Marketing Research</h4>
        </a>
        <a href="single-service.html" class="single-service" data-aos="slide-up" data-aos-delay="50">
            <img src="images/services/4 Retail Solution 4/Normal.png" width="56" alt="" />
            <h4>Retail Solution</h4>
        </a>
        <a href="single-service.html" class="single-service" data-aos="slide-up" data-aos-delay="100">
            <img src="images/services/5 Branding, Merchandising _ Retail Fixture/Normal.png" width="56" alt="" />
            <h4>Branding, Merchandising & Retail Fixture</h4>
        </a>
        <a href="single-service.html" class="single-service" data-aos="slide-up" data-aos-delay="100">
            <img src="images/services/6 Alliances _ Channel Development Programs/Normal.png" width="56" alt="" />
            <h4>Alliances Channel Development Programs</h4>
        </a>
        <a href="single-service.html" class="single-service" data-aos="slide-up" data-aos-delay="100">
            <img src="images/services/7 Manpower Programme/Normal.png" width="56" alt="" />
            <h4>Manpower Programme</h4>
        </a>
        <a href="single-service.html" class="single-service" data-aos="slide-up" data-aos-delay="100">
            <img src="images/services/8 Digital Marketing/Normal.png" width="56" alt="" />
            <h4>Digital Marketing</h4>
        </a>
    </div>
</section>

<style>
    #services {
        margin: 0 auto;
        width: fit-content;
        display: grid;
        place-items: center;
        grid-gap: 48px 64px;
        grid-template-columns: repeat(2, 1fr);
    }

    .single-service {
        width: 480px;
        padding: 16px 56px;
        /* border-radius: 10px; */
        display: flex;
        align-items: center;
        border: 1px solid #c5c5c5;
        background-color: white;
        transition: background-color 200ms ease !important;
    }

    .single-service:hover {
        color: #fff;
        background-color: #353535;
    }

    .single-service img {
        margin-right: 40px;
    }

    .single-service h4 {
        font-size: 18px;
        font-weight: 500;
    }
</style>
