<section>
    <div class="heading" data-aos="slide-up">
        <h2>services</h2>
    </div>
    <div id="services">
        <a href="single-service.html" class="single-service" data-service="1" data-aos="slide-up">
            <img id="service-1" src="images/services/1 Events, Meets _ Exhibitions/Normal.png" width="56" alt="" />
            <h4>Events, Meets & Exhibitions</h4>
            <div class="arrow"><span>↗</span></div>
        </a>
        <a href="single-service.html" class="single-service" data-service="2" data-aos="slide-up">
            <img id="service-2" src="images/services/2 Activations 2/Normal.png" width="56" alt="" />
            <h4>Activations</h4>
            <div class="arrow"><span>↗</span></div>
        </a>
        <a href="single-service.html" class="single-service" data-service="3" data-aos="slide-up" data-aos-delay="50">
            <img id="service-3" src="images/services/3 Marketing Research 3/Normal.png" width="56" alt="" />
            <h4>Marketing Research</h4>
            <div class="arrow"><span>↗</span></div>
        </a>
        <a href="single-service.html" class="single-service" data-service="4" data-aos="slide-up" data-aos-delay="50">
            <img id="service-4" src="images/services/4 Retail Solution 4/Normal.png" width="56" alt="" />
            <h4>Retail Solution</h4>
            <div class="arrow"><span>↗</span></div>
        </a>
        <a href="single-service.html" class="single-service" data-service="5" data-aos="slide-up" data-aos-delay="100">
            <img
                id="service-5"
                src="images/services/5 Branding, Merchandising _ Retail Fixture/Normal.png"
                width="56"
                alt=""
            />
            <h4>Branding, Merchandising & Retail Fixture</h4>
            <div class="arrow"><span>↗</span></div>
        </a>
        <a href="single-service.html" class="single-service" data-service="6" data-aos="slide-up" data-aos-delay="100">
            <img
                id="service-6"
                src="images/services/6 Alliances _ Channel Development Programs/Normal.png"
                width="56"
                alt=""
            />
            <h4>Alliances Channel Development Programs</h4>
            <div class="arrow"><span>↗</span></div>
        </a>
        <a href="single-service.html" class="single-service" data-service="7" data-aos="slide-up" data-aos-delay="100">
            <img id="service-7" src="images/services/7 Manpower Programme/Normal.png" width="56" alt="" />
            <h4>Manpower Programme</h4>
            <div class="arrow"><span>↗</span></div>
        </a>
        <a href="single-service.html" class="single-service" data-service="8" data-aos="slide-up" data-aos-delay="100">
            <img id="service-8" src="images/services/8 Digital Marketing/Normal.png" width="56" alt="" />
            <h4>Digital Marketing</h4>
            <div class="arrow"><span>↗</span></div>
        </a>
    </div>
</section>

<style>
    #services {
        margin: 0 auto;
        width: fit-content;
        display: grid;
        place-items: center;
        grid-gap: 44px 64px;
        grid-template-columns: repeat(2, 1fr);
    }

    .single-service {
        position: relative;
        width: 520px;
        padding: 16px 44px;
        /* border-radius: 10px; */
        display: flex;
        align-items: center;
        border: 1px solid #c5c5c5;
        background-color: white;
        transition: background-color 200ms ease !important;
    }

    .single-service:hover {
        color: #fff;
        background-color: #272727;
    }

    .arrow {
        display: none;
        color: #fff;
        width: 24px;
        height: 24px;
        overflow: hidden;
        position: relative;
        font-weight: bolder;
        font-size: 24px;
    }

    .single-service:hover .arrow {
        display: block;
    }

    .arrow span {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 1px;
        left: 0;
        animation-name: arrow;
        animation-duration: 250ms;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
        animation-iteration-count: 2;
        animation-play-state: paused;
    }

    .single-service:hover .arrow span {
        animation-play-state: running;
    }

    @keyframes arrow {
        from {
            top: 24px;
            left: -24px;
        }
        to {
            top: -1px;
            left: 2px;
        }
    }

    .single-service img {
        margin-right: 44px;
    }

    .single-service h4 {
        font-size: 18px;
        font-weight: 500;
        width: 286px;
    }
</style>
<script>
    const singleServices = document.querySelectorAll(".single-service");

    singleServices.forEach((singleService) => {
        const service = singleService.dataset.service;
        const image = document.getElementById(`service-${service}`);
        const src = image.getAttribute("src");
        singleService.addEventListener("mouseenter", () => {
            image.src = src.replace("Normal.png", "Hover.png");
        });
        singleService.addEventListener("mouseleave", () => {
            image.src = src;
        });
    });
</script>
